@font-face {
    font-family: "Inter Regular";
    src: url("/static/assets/fonts/Inter_28pt-Regular.ttf") format("truetype");
}


@font-face {
    font-family: "Inter Bold";
    src: url("/static/assets/fonts/Inter_28pt-Bold.ttf") format("truetype");
}

