@use "../scss/mixins.scss" as *;
@use "../scss/fonts.scss" as *;

* {
    font-family: "Inter Bold";
    margin: 0px;
}

.background {
    background-color: #F1F1F1;
    @include WidthHeight(100vw, 100vh);
}
.navbar{
    position: fixed;
    @include WidthHeight(100vw, 70px);

    &__logo{
        padding: 10px;
    }
}
.container{
    @include FlexCenter();

    &__center {
        @include WidthHeight(30vw, 100vh);
        @include FlexCenter();

        &__image{
            @include WidthHeight(20vw, 30vh);
            background-color: rgb(196, 196, 196);
            @include BorderRadius(15px, 15px, none, none);

            img{
                @include WidthHeight(20vw, 30vh);
                object-fit: cover;
                @include BorderRadius(15px, 15px, none, none);
            }
        }

        &__description{
            @include FlexCenter();
            @include WidthHeight(20vw, 10vh);
            background-color: #6A8C69;
            @include BorderRadius(none, none, 15px, 15px);
            color: white;
        }
    
        &__button {
            @include WidthHeight(350px, 85px);
            @include FlexCenter();
            background-color: #6A8C69;
            border: none;
            border-radius: 15px;
            font-size: 20px;
            color: white;
            cursor: pointer;
    
            &:hover {
                background-color: #53736A;
            }
        }

        input[type="file"]{
            display: none;
        }
        
    }
}
